<mdb-card class="my-3 barber-card">
  <mdb-card-header>
    <h5>{{this.barber.fullname}}</h5>
  </mdb-card-header>
  <mdb-card-body>
    <div class="row">
      <div class="col-4"> <img [src]="this.barber.photoUrl" alt="barber photo" class="rounded "></div>
      <div class="col-8">
        <mdb-card-text>
          {{this.barber.bio || 'Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum '}}
        </mdb-card-text>
      </div>
    </div>
  </mdb-card-body>
  <mdb-card-footer><a href="#">Learn more...</a></mdb-card-footer>
</mdb-card>
