/* You can add global styles to this file, and also import other style files */

body {
  overflow: scroll;
}

img {
    max-width: 100%;
    margin: 0;
    padding: 0;
}

ul {
  list-style: none;
}

* {
  margin: 0;
  padding: 0;
}
